<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/assets/css/Navbar-Right-Links-Dark-icons.css">
        <link rel="stylesheet" href="../static/userlist.css">
    </head>
    <body>
        <nav class="navbar navbar-dark navbar-expand-md bg-dark py-3">
            <div class="container"><a class="navbar-brand d-flex align-items-center text-light"><span>Banking System</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-5"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-5">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link active" href="/"><span class="text-light fs-5 fw-bold">Home</span></a></li>
                        <li class="nav-item"><a class="nav-link active" href="/transfer"><span class="text-light fs-5 fw-bold">Transfer</span></a></li>
                        <li class="nav-item"><a class="nav-link active" href="/viewAllCustomers"><span class="text-light fs-5 fw-bold">Users</span></a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <center><div class="niakka">
            <h1>History</h1>
            <table>
                <thead>
                    <tr>
                        <th>S.no</th>
                        <th>Sender</th>
                        <th>Receiver</th>
                        <th>Amount</th>
                        <th>Date & Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                        <td>{{ row[3] }}</td>
                        <td>{{ row[4] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table></div></center>
        <footer class="text-center py-4 bg-dark">
                <div class="container">
                    <div class="row row-cols-1 row-cols-lg-1">
                        <div class="col">
                            <p class="text-light my-2">Copyright&nbsp;© 2023 Banking System</p>
                        </div>
        
                    </div>
                </div>
            </footer>
            <script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
